.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar-bg {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  margin-left: auto;
}

.nav-menu li {
  cursor: pointer;
  margin-right: 40px;
}

.nav-menu a {
  text-decoration: none;
  color: inherit;
  padding-bottom: 3px;
}

.nav-menu a.active {
  border-bottom: 2px solid #ff4141;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
}

.logout-button,
.login-button,
.dropdown-button {
  width: 120px;
  height: 40px;
  outline: none;
  border: 1px solid #e8cf94;
  border-radius: 100px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: #e8cf94;
  cursor: pointer;
}

.logout-button:hover,
.login-button:hover,
.dropdown-button:hover {
  background: #f3f3f3;
  color: black;
}

.dropdown-button {
  background-color: #e8cf94;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 0;
  width: 308px;
  height: auto;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1001;
}

.nav-login-cart:hover .dropdown-menu {
  display: block;
}

.user-profile {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.user-profile svg {
  margin-right: 15px;
}

.dropdown-menu ul {
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  margin-bottom: 15px;
  list-style: none;
}

.dropdown-menu li a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.dropdown-menu li a svg {
  margin-right: 15px;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav-login-cart {
    flex-direction: column;
    gap: 15px;
  }

  .dropdown-menu li {
    margin-bottom: 10px;
  }
}
