/* Reset default body margin and set background color to black */
body {
  margin: 0;
  background-color: white;
}

/* Center outer container horizontally and vertically */
.login-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* Form container styling */
.login-form-container {
  position: relative;
  width: 90%;
  max-width: 1440px;
  height: 90%;
  max-height: 630px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image container styling */
.login-image-container {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 578px;
  height: 650px;
  border-radius: 16px;
  background-image: url('../components/Assets/images/Loginbg.jpg');
  background-size: cover;
  background-position: center;
}

/* Form content styling */
.login-form-content {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 404px;
  height: 570px;
  padding: 40px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-logincontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 404px;
  height: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form-group {
  width: 100%;
  margin-bottom: 20px;
}

.login-form-label {
  display: block;
  font-weight: bold;
}

/* Checkbox container styling */
.login-checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.login-checkbox-label {
  display: flex;
  align-items: center;
}

.login-checkbox-input {
  margin-right: 10px;
}

/* Forgot password link styling */
.login-forgot-password {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.login-forgot-password:hover {
  color: #0056b3;
  font-weight: bold;
}

/* Form button styling */
.login-form-button {
  width: 200px;
  height: 35px;
  padding: 7px 10px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  background-color: #e8cf94;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  text-align: center;
  line-height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-form-loginbutton {
  width: 200px;
  height: 35px;
  padding: 7px 10px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  background-color: #e8cf94;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  line-height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-form-button:hover {
  background-color: #d1b17e;
}

/* Form link styling */
.login-form-link {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: #555;
}

.login-form-link a {
  color: red;
  text-decoration: underline;
}

.login-form-link a:hover {
  color: #ff5a5a;
}

/* Form input styling */
.login-form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
}

/* Left content styling */
.login-left-content {
  position: absolute;
  bottom: 18px;
  left: 10px;
  width: 700px;
  height: 500px;
  text-align: center;
}

.login-text-content {
  margin-bottom: 10px;
}

.login-text-content h2 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.login-text-content h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0;
}

.login-text-content p {
  font-size: 20px;
  color: gray;
}

.login-text-content p a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.login-text-content p a:hover {
  text-decoration: underline;
}

/* Left image styling */
.login-left-image {
  width: 461px;
  height: 211px;
  border-radius: 10px;
  margin-top: 20px;
}
