/* Register.css */

.body {
  margin: 0; /* Reset default body margin */
  background-color: black; /* Set background color to black */
}

.outer-container {
  position: relative;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
}

.form-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center; /* Center the login form horizontally */
  align-items: center; /* Center the login form vertically */
}

.left-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url('../components/Assets/images/Loginbg.jpg'); /* Set background image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
}

.left-content {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.form-content {
  width: 70%;
  padding: 40px;
  background-color: #fff; /* White background for the login form container */
  border-radius: 16px; /* Rounded corners */
}

.form-label {
  display: block;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none; /* Remove border */
  border-bottom: 1px solid #ccc; /* Add bottom border */
}

.form-button {
  width: 100%; /* Set width to 100% */
  height: 35px; /* Set height to 35px */
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #E8CF94; /* Yellow color */
  border: none;
  border-radius: 13px; /* Border-radius of 13px */
  cursor: pointer;
  margin-top: 20
}