body {
  margin: 0;
  background-color: black;
}

.register-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 100vw;
  height: 100vh;
}

.register-form-container {
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.register-image-container {
  border-radius: 16px;
  background-image: url("../components/Assets/images/Loginbg.jpg");
  background-size: cover;
  background-position: center;
}

.register-form-content {
  padding: 40px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.register-form-group {
  width: 100%;
  margin-bottom: 20px;
}

.register-form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.register-form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.register-form-button {
  width: 200px;
  height: 35px;
  padding: 7px 10px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  background-color: #e8cf94;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  text-align: center;
  line-height: 25px;
}

.register-form-button:hover {
  background-color: #d1b17e;
}

.register-left-content {
  width: 700px;
  height: 500px;
  text-align: center;
}

.register-text-content {
  margin-bottom: 10px;
}

.register-text-content h2 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.register-text-content h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0;
}

.register-text-content p {
  font-size: 20px;
  color: gray;
}

.register-text-content p a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.register-text-content p a:hover {
  text-decoration: underline;
}

.register-left-image {
  width: 461px;
  height: 211px;
  border-radius: 10px;
  margin-top: 20px;
}
